.DS_Store
config.codekit
/planning.md
_announcement.scssc
/sass/.sass-cache/3425b5f9148b9e61bb387e51b8030de7174dff98/_settings.scssc
_tictactoe.scssc
.scssc
/sass/.sass-cache/3425b5f9148b9e61bb387e51b8030de7174dff98/_variables.scssc
